$directions: (
    't': 'top',
    'b': 'bottom',
    'l': 'left',
    'r': 'right'
);

$dimensions: (
    'p': 'padding',
    'm': 'margin'
);

@each $dim in $dimensions {
    @each $dir in $directions {
        @for $i from 1 through 30 {
            $size: $i;
            .#{nth($dim,1)}#{nth($dir,1)}#{$size} {
                #{nth($dim,2)}-#{nth($dir,2)}: #{$size}rpx;
            }
        }
    }
}

@each $dim in $dimensions {
    @for $i from 1 through 6 {
        $size: $i * 5;
        .#{nth($dim,1)}#{$size} {
            #{nth($dim,2)}: #{$size}rpx;
        }
    }
}

@for $i from 10 through 20 {
    $size: $i * 2;
    .f#{$size} {
        font-size: #{$size}rpx;
        font-weight: 500;
        color: #acb5c1;
    }
}
