<div>
    <van-checkbox-group class="card-goods" v-model="checkedGoods">
        <van-checkbox class="card-goods__item" v-for="item in goods" :key="item.id" :name="item.id">
            <van-card
                :title="item.title"
                :desc="item.desc"
                :num="item.num"
                :price="formatPrice(item.price)"
                :thumb="item.thumb"
            />
        </van-checkbox>
    </van-checkbox-group>
    <van-submit-bar
        :price="totalPrice"
        :disabled="!checkedGoods.length"
        :button-text="submitBarText"
        @submit="onSubmit"
    />
</div>
